﻿<div id = "electronics">
	<h3>Освещение</h3>
	<div>
		<div class = "Item">
			<img data-name = "Настольная лампа" data-min = "1" data-max = "24" data-default = "4" src = "calculuss/pics/techEq/reading-lamp.jpg"></img>
			<div class="slider" data-pmin = "10" data-pmax = "99" data-pdefault = "60"></div><br>
			<span>Настольная лампа</span>
		</div>
		<div class = "Item">
			<img data-name = "Люстра в гостиной" data-min = "1" data-max = "24" data-default = "7" src = "calculuss/pics/techEq/chandelier.jpg"></img>
			<div class="slider" data-pmin = "15" data-pmax = "400" data-pdefault = "100"></div><br>
			<span>Люстра в гостиной</span>
		</div>
	</div>
	<h3>Жилая комната</h3>
	<div>
		<div class = "Item">
			<img data-name = "Музыкальный центр" data-min = "1" data-max = "24" data-default = "3" src = "calculuss/pics/techEq/MusicC.jpg">
			<div class="slider" data-pmin = "2" data-pmax = "160" data-pdefault = "60"></div><br>
			<span>Музыкальный центр</span>
		</div>
		<div class = "Item">
			<img data-name = "Обычный телевизор" data-min = "1" data-max = "24" data-default = "4" src = "calculuss/pics/techEq/Tv.jpg">
			<div class="slider" data-pmin = "30" data-pmax = "600" data-pdefault = "60"></div><br>
			<span>Телевизор</span>
		</div>
		<div class = "Item">
			<img data-name = "Компьютер" data-min = "1" data-max = "24" data-default = "5" src = "calculuss/pics/techEq/desktop.jpg">
			<div class="slider" data-pmin = "250" data-pmax = "650" data-pdefault = "300"></div><br>
			<span>Настольный компьютер</span>
		</div>
		<div class = "Item">
			<img data-name = "Ноутбук" data-min = "1" data-max = "24" data-default = "5" src = "calculuss/pics/techEq/laptop.jpg">
			<div class="slider" data-pmin = "60" data-pmax = "250" data-pdefault = "100"></div><br>
			<span>Ноутбук</span>
		</div>
	</div>
	<h3>Кухня (малая техника)</h3>
	<div>
		<div class = "Item">
			<img data-name = "Микроволновка" data-min = "1" data-max = "12" data-default = "1" src = "calculuss/pics/techEq/m-oven.jpg"></img>
			<div class="slider" data-pmin = "900" data-pmax = "1500" data-pdefault = "1200"></div><br>
			<span>Микроволновка</span>
		</div>
		<div class = "Item">
			<img data-name = "Чайник" data-min = "1" data-max = "6" data-default = "1" src = "calculuss/pics/techEq/kettle.jpg"></img>
			<div class="slider" data-pmin = "1800" data-pmax = "2800" data-pdefault = "2300"></div><br>
			<span>Чайник</span>
		</div>
		<div class = "Item">
			<img data-name = "Комбайн" data-min = "1" data-max = "6" data-default = "1" src = "calculuss/pics/techEq/kombain.jpg"></img>
			<div class="slider" data-pmin = "400" data-pmax = "1100" data-pdefault = "550"></div><br>
			<span>Кухонный комбайн</span>
		</div>
	</div>
	<h3>Кухня (приборы большой мощности)</h3>
	<div>
		<div class = "Item">
			<img data-name = "Электроплитка" data-min = "1" data-max = "12" data-default = "1" src = "calculuss/pics/techEq/mini-oven.jpg"></img>
			<div class="slider" data-pmin = "900" data-pmax = "2500" data-pdefault = "1700"></div><br>
			<span>Электроплитка</span>
		</div>
		<div class = "Item">
			<img data-name = "Электроплита" data-min = "1" data-max = "12" data-default = "1" src = "calculuss/pics/techEq/oven.jpg"></img>
			<div class="slider" data-pmin = "4000" data-pmax = "10000" data-pdefault = "5000"></div><br>
			<span>Электроплита с духовкой</span>
		</div>
		<div class = "Item solidBlock">
			<div class = "go-left">
				<img data-name = "Маленький холодильник" src = "calculuss/pics/techEq/miniFridge.jpg"></img>
				<span><nobr>Маленький холодильник</nobr></span>
			</div>
			<div>
				<select name="menu">
					<option selected disabled value="0">Класс энергопотребления</option>
					<option value="160">A+</option>
					<option value="185">A</option>
					<option value="250">B</option>
					<option value="300">C</option>
					<option value="400">>=D</option>
				</select>
			</div>
		</div>
		<div class = "Item solidBlock">
			<div class = "go-left">
				<img data-name = "Холодильник" src = "calculuss/pics/techEq/fridge.jpg"></img>
				<span>Холодильник</span>
			</div>
			<div>
				<select name="menu">
					<option selected disabled value="0">Класс энергопотребления</option>
					<option value="245">A++</option>
					<option value="300">A+</option>
					<option value="360">A</option>
					<option value="450">B</option>
					<option value="500">C</option>
					<option value="600">>=D</option>
				</select>
			</div>
		</div>
	</div>
	<h3>Подвал</h3>
	<div>
		<div class = "Item">
			<img data-name = "Водонагреватель (н)" data-min = "1" data-max = "12" data-default = "2" src = "calculuss/pics/techEq/save-waterheater.jpg"></img>
			<div class="slider" data-pmin = "1300" data-pmax = "5900" data-pdefault = "2000"></div><br>
			<span>Водонагреватель накопительный</span>
		</div>
		<div class = "Item">
			<img data-name = "Водонагреватель (п)" data-min = "1" data-max = "12" data-default = "2" src = "calculuss/pics/techEq/throw-waterheater.jpg"></img>
			<div class="slider" data-pmin = "4900" data-pmax = "11000" data-pdefault = "8000"></div><br>
			<span>Водонагреватель проточный</span>
		</div>
	</div>
	<h3>Другое</h3>
	<div>
		<div class = "Item solidBlock customItem">
			<div class = "go-left">
				<span>Введите название и установите мощность</span><br>
				<input type="text" placeholder="Название прибора"><br>
				<input type="checkbox" value="resistive">Резистивная нагрузка<br>
			</div>
			<div class="slider" data-pmin = "5" data-pmax = "10000" data-pdefault = "500"></div>
		</div>
	</div>
</div>

<div id = "userHouse">
	<div id = "homeName" class = "ui-widget-header ui-corner-tl ui-corner-tr jq-style-header">Бытовая техника в вашем доме</div>
	<div id = "panel" class = "ui-widget-content ui-corner-bl ui-corner-br jq-style-body">
		<table id = "applianceTable">
			<tbody>
			<tr>
				<th></th>
				<th>Предметы</th>
				<th>Количество</th>
				<th>Частота использования</th>
			</tr>
		</tbody>
		</table>
		<div id = "dropSide" class = "hovered"><img src = "calculuss/pics/drag_overlay.png"></img></div>
	</div>
</div>

<table id = "calcResults">
	<tbody>
		<tr>
			<th width = "30%"><div class = "ui-accordion-header ui-state-default ui-corner-all jq-style-header">Расчет</div></th>
			<th><div class = "ui-accordion-header ui-state-default ui-corner-all jq-style-header">Конфигурация</div></th>
		</tr>
		<tr class = "ui-widget-content ui-corner-bl ui-corner-br jq-style-body">
			<td>
				<div id = "calcProcess"></div>
			</td>
			<td>
				<div id = "configuration">
					<table>
						<tbody>
							<tr>
								<th>Наименование</th>
								<th>Количество</th>
								<th>Цена за ед. [руб]</th>
							</tr>
						</tbody>
					</table>
					<div id = "solutionPrice">
						<p id = "totalPrice"></p>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
