﻿body 
{
	background-color: #D8E4F0;
	font-family: "Arial" sans-serif;
	font-size: 10pt;
	color: #444444;
}

div#calculus
{
	min-width: 800px;
	/*max-width: 1000px;*/
}

div#electronics
{
	width: 49%;
	float: left;
}

div#electronics span
{
	text-align: center;
	display: inline;
	vertical-align: middle
}

div#electronics img
{
	margin-left: auto;
	margin-right: 5px;
}

div.Item
{
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	max-width: 130px;
	background-color: #faffff;
}

div.Item.ui-draggable-dragging
{
	z-index: 3;
}

div.Item.solidBlock
{
	max-width: 250px;
	border: solid black 1px;
	margin: 1px;
	padding: 5px;
}
div.Item.solidBlock div.go-left
{
	float: left;
	max-width: 200px;
}
div.Item.solidBlock div.slider
{
	float:right;
}

div#userHouse
{
	display: block;
	width: 50%;
	min-height: 400px;
	min-width: 400px;
	/*max-width: 600px;*/
	max-height: 460px;
	float: right;
	overflow-y: hidden;
	overflow-x: hidden;
	padding-bottom: 10px;
}

div#panel
{
	margin: auto auto;
	width:95%;
	min-height: 350px;
	max-height: 420px;
	position: relative;
	overflow-y: scroll;
}

table#applianceTable
{
	width: 98%;
	text-align: center;
}

td p
{
	margin: auto 10px;
}

a.ui-spinner-button
{
	width: 25px;
	margin: auto 0px auto 0px;
}

input.ui-spinner-input
{
	margin-right: 30px;
}


#dropSide.hovered
{
	display: block !important;
}

#dropSide
{
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	display: block;
	top: 4px;
	right: 3px;
	display: none;
}


#dropSide img
{

	width: 95%;
	height: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#calcResults
{
	clear:both;
	width: 98%;
	margin: 7px;
}

#computation
{
	float: left;
	width: 34%;
	border: solid black 2px;
}

div#configuration
{
	margin: 3px;
}

button#calcBtn
{
	float: right;
	margin-left: 5px;
	margin-top: 5px;
}

button#calcBtn > span
{
	font-size: 12pt;
	font-weight: normal;
}

#calcProcess
{
	margin: 5px;
	min-height: 30px;
}

.jq-style-header
{
	padding: 4px 6px;
}

.jq-style-body
{
	padding: 10px 10px;
}

div.ui-accordion-content
{
	padding: 10px 15px !important;
}
